@import 'variables';

$bsc_yellow: #CBCB67 !default;  /* Bespoke Silk Curtains Company yellow */

body {
  margin-top: x0px;
  background: #ffffff url(/assets/store/luxury-kashmiri-silk-shawlsDARKER.jpg) top no-repeat;
  background-size: 100% 40%;
  
}

#main-nav-bar a {
  text-decoration: underline;
  color: $bsc_yellow;
}


#logo-block li {
  display: block;
  height: 25px;
}

#logo-header {
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  line-height: 2.5em;
}

#logo-text {
  font-size: 20px;
  text-transform: uppercase;
  color: $bsc_yellow;
}

#logo-trailer {
  font-size: 11px;
  text-transform: uppercase;
  color: white;
}

nav#taxonomies {
  .taxonomy-root {
    border-bottom: $default_border;
    margin-bottom: 5px;
    font-size: $main_navigation_header_font_size;
  }

  .taxons-list {
    li {
      a {
        font-size: $main_navigation_font_size + 2;
        line-height: 1.5em;
      }
    }
  }
}

#content {
  margin: 20px;
}

#inside-product-cart-form {
  margin-left: 7px;
}
